# SPDX-License-Identifier: MIT
# Copyright (c) 2022 University of California, Riverside

name = "Example";

nfs = (
	{
		id = 1;
		name = "NF 1";

		n_threads = 2;

		params = {
			memory_mb = 1;
			sleep_ns = 15;
			compute = 1000;
		};
	},
	{
		id = 2;
		name = "NF 2";

		n_threads = 1;

		params = {
			memory_mb = 2;
			sleep_ns = 20;
			compute = 500;
		};
	},
	{
		id = 3;
		name = "NF 3";

		n_threads = 8;

		params = {
			memory_mb = 3;
			sleep_ns = 5;
			compute = 250;
		};
	},
	{
		id = 4;
		name = "NF 4";

		n_threads = 4;

		params = {
			memory_mb = 4;
			sleep_ns = 10;
			compute = 125;
		};
	}
);

routes = (
	{
		id = 1;
		name = "Route 1";

		nodes = [1, 2, 3, 4];
	},
	{
		id = 2;
		name = "Route 2";

		nodes = [1, 0, 2, 0, 3, 0, 4];
	},
	{
		id = 3;
		name = "Route 3";

		nodes = [1, 2, 3, 4, 3, 2, 1];
	},
	{
		id = 4;
		name = "Route 4";

		nodes = [1, 0, 2, 0, 3, 0, 4, 0, 3, 0, 2, 0, 1];
	}
);
