# Binaries for programs and plugins
bin
src/*.o
src/*.d
src/online_boutique_fns/*.o
src/online_boutique_fns/*.d
src/libsidecar/*.o
src/libsidecar/*.d

# idea files
.DS_Store
.idea
nodes_name.txt

# VS code files
.vscode

# python
*.pyc
__pycache__

# helm dependencies
charts
requirements.lock
